body {
	background-color: #CCC;
}

a {
	color: gray;
	text-decoration: none;
}

.bold {
	font-weight: 700;
}

.gray {
	color: #666;
}

.white-bar {
	background-color: white;
	height: 10px;
}

.black-bar {
	background-color: black;
	height: 10px;
}

.right {
	right: 0;
	position: absolute;
}

.body-wrapper {
	min-width: 800px;
	max-width: 90%;
	background-color: #FFF;
	margin: 0 auto;
	box-shadow: 0 0 20px #aaa;
	padding-bottom: 20px;
}

.links {
	padding: 0 10px;
	background-color: black;
}

.links a {
	display: inline-block;
	border-left: 1px solid #aaa;
	padding: 6px 10px;
	color: #aaa;
	font-size: 12px;
	font-family: Arial;
}

.links a:hover {
	color: #7ab90e;
}

.links a:first-child {
	border-left: 0;
}

.banner {
	text-transform: uppercase;
	position: relative;
	height: 60px;
	font-family: 'Duru Sans', sans-serif;
	background: linear-gradient(#fff, #eee);
}

.banner .msg {
	padding: 20px 10px;
}

.banner .phone {
	display: inline-block;
	font-weight: bold;
}

nav {
	padding: 0 10px;
	background-color: #7ab90e;
	color: white;
}

nav a {
	font-family: 'Duru Sans', sans-serif;
	font-size: 14px;
	color: white;
	display: inline-block;
	padding: 10px 10px;
	margin: 0 5px;
}

nav a:hover {
	background-color: white;
	color: black;
}

.content {
	background-color: #fff;
}

.tag-line {
	font-size: 72px;
	font-family: 'Ubuntu', sans-serif;
	padding: 14px 30px;
	background: linear-gradient(#eee, #fff);
	margin-bottom: 20px;
}

.content>section {
	min-width: 400px;
	margin: 0 20px;
	max-width: 800px;
	display: inline-block;
}

.content>section.data {
	border-radius: 10px 10px 0 0;
	box-shadow: 2px 2px 6px #aaa;
}

.content>section>header {
	font-family: 'Ubuntu';
	background: #7ab90e;
	padding: 8px 16px;
	font-size: 42px;
	color: white;
	background: #7ab90e;
	border-radius: 10px 10px 0 0;
}

.content>section .summary {
	font-family: 'Ubuntu';
	font-size: 22px; 
	padding: 10px 18px; 
	background: #f3f3f3;
	border: 1px solid #eee;
	color: black;
}

.content>section .description {
	font-family: 'Ubuntu';
	padding: 10px 18px;
	background: white;
	border: 1px solid #eee;
	border-top: 0;
	color: #555;
}

.content>section .notes {
	font-family: 'Ubuntu';
	padding: 10px 18px;	
	border: 1px solid #eee;
	border-top: 0;
	font-size: 14px;
}