@font-face { font-family: 'Lato'; src: url('fonts/Lato/Lato-Regular.ttf') format('truetype'); }
@font-face { font-family: 'Lato'; src: url('fonts/Lato/Lato-Bold.ttf') format('truetype'); font-weight: bold; }
@font-face { font-family: 'Lato'; src: url('fonts/Lato/Lato-Italic.ttf') format('truetype'); font-style: italic; }

body {
	background-color: #EEE;
	font-family: 'Lato',Arial;
}

img { display: block; }

a {
	color: gray;
	text-decoration: none;
}

a.button { margin: 20px auto 0; width: 230px; color: white; text-align: center; display: block; background: #8ab92e linear-gradient(#8ab92e, #361); border: 1px solid black; font-size: 16px; text-transform: uppercase; padding: 8px 12px; cursor: pointer; transition: 0.75s; }
a.button:hover, a.button.qore:hover, a.button.prime:hover, a.button.metaboliq:hover { color: black;  background: white; } 

a.button.qore { background: #555 linear-gradient(#555, #000) }
a.button.prime { background: #EA394D linear-gradient(#EA394D, #9A0000) }
a.button.metaboliq { background: #59D linear-gradient(#59D, #059); }

li { list-style: none; }

i {
	font-family: FontAwesome;
	font-style: normal;
	margin: 0 6px;
}

.bold {
	font-weight: 700;
}

.green-color {
	color: #8ab92e;
}

.gray {
	color: #666;
}

.white-bar {
	background-color: white;
	height: 10px;
}

.black-bar {
	background-color: black;
	height: 10px;
}

.right {
	right: 0;
	position: absolute;
}

.inline-left { display: inline-block; }
.inline-right { display: inline-block; }

.body-wrapper {
	max-width: 1280px;
	background-color: #FFF;
	margin: 0 auto;
	box-shadow: 0 0 20px #aaa;
}

.links {
	padding: 0 10px;
	background-color: black;
	height: 26px;
}

.links a {
	display: inline-block;
	border-left: 1px solid #aaa;
	padding: 6px 10px;
	color: #aaa;
	font-size: 12px;
	font-family: Arial;
}

.links a:hover {
	color: #8ab92e;
}

.links a:first-child {
	border-left: 0;
}

.banner {
	text-transform: uppercase;
	position: relative;
	height: 60px;
	font-family: 'Lato', sans-serif;
	background: #fff;
}

.banner .msg {
	padding: 20px 10px;
}

.banner .phone {
	display: inline-block;
	font-weight: bold;
}

nav {
	padding: 0 10px;
	background: #8ab92e linear-gradient(#8ab92e, #581);
	color: white;
}

nav a {
	font-size: 14px;
	color: white;
	display: inline-block;
	padding: 10px 10px;
	margin: 0 5px;
	transition: 0.5s;
}

nav a:hover {
	background-color: white;
	color: black;
}

.content {
	background-color: #fff;
}

.tag-line {
	font-size: 72px;
	padding: 14px 30px;
	background: #fff linear-gradient(#eee, #fff);
}

.content>section {
	min-width: 400px;
	max-width: 590px;
	display: inline-block;
	margin-bottom: 30px;
}

.content>section.media {
	margin-left: 30px;
}

.content>section.data {
	border-radius: 10px 10px 0 0;
	box-shadow: 2px 2px 6px #aaa;
	margin-left: 30px;
	border: #bbb 1px solid;
}

.content>section>header {
	padding: 8px 16px;
	font-size: 42px;
	color: white;
	border-radius: 10px 10px 0 0;
}

.data.total-health-pack header { background: #8ab92e linear-gradient(#8ab92e, #361); }
.data.qore-system header { background: #555 linear-gradient(#555, #000); }
.data.prime header { background: #EA394D linear-gradient(#EA394D, #9A0000); }
.data.metaboliq header { background: #59D linear-gradient(#59D, #059); }

.content>section.data-intro {
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
	padding: 8px 26px;
	max-width: 100%;
	min-width: 800px;
	display: block;
	background-color: #333;
}

.content>section.data-intro:first-child { margin-top: 0; }

.content>section.data-intro.total-health-pack { color: #aad94e; }
.content>section.data-intro.qore-system { color: #ccc }
.content>section.data-intro.prime { color: #FF597D }
.content>section.data-intro.metaboliq { color: #69BDFF }

.content>section>header .subheader {
	font-size: 22px;
	text-transform: uppercase;
}

.content>section .summary {
	font-size: 22px; 
	padding: 6px 18px; 
	background: #eee linear-gradient(#eee, #ccc);
	border: 1px solid #ddd;
	border-right: 0;
	border-left: 0;
	color: black;
}

.content>section .description {
	padding: 12px 18px 12px;	
	background: #f8f8f8 linear-gradient(#f8f8f8, #fff);
	color: #333;
}

.short-padding-btm {
	padding-bottom: 6px; 
}

.content>section .notes {
	padding: 12px 18px 18px;	
	background: #fff;
	border-top: 0;
	font-size: 14px;
}

.include { position: relative; background: #f8f8f8 linear-gradient(#f8f8f8, #fff); }
.include>div { padding: 0 12px 10px; }
.include ul { padding: 0; }

footer { margin-top: 0px; background-color: black; padding: 16px 0; color: white; text-align: center; }